<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054391014980-84ct5uogmtf6ehb09c55k9gui5j5rimf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054391014980-84ct5uogmtf6ehb09c55k9gui5j5rimf</string>
	<key>API_KEY</key>
	<string>AIzaSyBlQkcrdVY1-oj0-LPVS-_6LmF0CFT1bns</string>
	<key>GCM_SENDER_ID</key>
	<string>1054391014980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challenge.solution.google.Netwalk-iOS</string>
	<key>PROJECT_ID</key>
	<string>netwalk-daa6a</string>
	<key>STORAGE_BUCKET</key>
	<string>netwalk-daa6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054391014980:ios:eb29e8d21ac3f25b5a0e11</string>
</dict>
</plist>